<div class="container-fluid py-3 border-bottom d-flex align-items-center justify-content-between">
    <div class="ms-5">
        <img src="assets/icons/logo.svg" alt="Logoipsum" class="img-fluid" style="max-width: 150px;" />
    </div>

    <div class="d-flex align-items-center gap-5 me-5">
        <img src="assets/icons/notification.svg" alt="notification icon" class="img-fluid"
            style="width: 20px; height: 20px;" />

        <img src="assets/icons/user-profile.svg" alt="profile icon" class="img-fluid"
            style="width: 28px; height: 28px;" />

        <img src="assets/icons/hamburger-menu.svg" alt="menu icon" class="img-fluid"
            style="width: 24px; height: 24px;" />
    </div>
</div>