<p>sensor-widget works!</p>
<div
    (click)="selectSensor()"
    [ngClass]="sensor.isSelected() ? 'border-primary' : 'border-transparent'"
    class="flex flex-col gap-3 h-fit border-2 rounded-2xl p-4 px-6 pb-6 bg-primary-light cursor-pointer"
>
    <div class="flex items-center justify-between py-2">
        <div class="flex flex-col">
            <span class="font-semibold text-black text-[16px]"
                >Sıcaklık ve Nem Sensörü</span
            >
            <span class="text-black/50 text-base">{{ sensor.name }}</span>
        </div>
        @if (sensor.battery < 20) {
            <img src="assets/icons/low-battery.svg" alt="battery" />
        } @else if (sensor.battery < 60) {
            <img src="assets/icons/mid-battery.svg" alt="battery" />
        } @else {
            <img src="assets/icons/high-battery.svg" alt="battery" />
        }
    </div>

    <div class="flex items-center gap-2">
        <img src="assets/icons/temperature.svg" alt="temperature" />
        <span class="text-lg">{{ sensor.temperature() }} °C</span>
        <img src="assets/icons/humidity.svg" alt="temperature" />
        <span class="text-lg">% {{ sensor.humidity() }}</span>
    </div>

    <div class="flex items-center justify-between">
        <span class="text-xs pt-1">{{ sensor.date }}</span>
        <img src="assets/icons/temperature-solid.svg" alt="" />
    </div>
</div>
