/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    img {
        -webkit-user-drag: none;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        background: #f2f9ff;
    }

    ::-webkit-scrollbar-thumb {
        background: #007dfc;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #0060c0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
}

.leaflet-popup-tip {
    display: none !important;
    box-shadow: none !important;
}

